<html>
<h3>Tiempo:</h3>
<head>
	<script>
		var hundredths = 0;
		var seconds = 0;
		var minutes = 0;
		var hours = 0;
		function init() {
			control = setInterval(chronometer, 10);
			document.getElementById("start").disabled = true;
			document.getElementById("stop").disabled = false;
			document.getElementById("continue").disabled = false;
		}
		function stop() {
			clearInterval(control);
			document.getElementById("stop").disabled = true;
		}
		function reset() {
			clearInterval(control);
			hundredths = 0;
			seconds = 0;
			minutes = 0;
			hours = 0;
			hundredths.innerHTML = ":00";
			seconds.innerHTML = ":00";
			minutes.innerHTML = ":00";
			hours.innerHTML = "00";
			document.getElementById("start").disabled = false;
			document.getElementById("stop").disabled = true;
			document.getElementById("continue").disabled = true;
		}
		function chronometer() {
			if (hundredths < 99) {
				hundredths++;
				if (hundredths < 10) { hundredths = "0" + hundredths }
				Hundredths.innerHTML = hundredths;
			}
			if (hundredths == 99) {
				hundredths = -1;
			}
			if (hundredths == 0) {
				seconds++;
				if (seconds < 10) { seconds = "0" + seconds }
				Seconds.innerHTML =  seconds;
			}
			if (seconds == 59) {
				seconds = -1;
			}
			if ((hundredths == 0) && (seconds == 0)) {
				minutes++;
				if (minutes < 10) { minutes = "0" + minutes }
				Minutes.innerHTML = minutes;
			}
			if (minutes == 59) {
				minutes = -1;
			}
			if ((hundredths == 0) && (seconds == 0) && (minutes == 0)) {
				hours++;
				if (hours < 10) { hours = "0" + hours }
				Hours.innerHTML = hours;
			}
		}
	</script>

</head>

<body>


	<div id="chronometer">
		<span id="Hours">00</span>:<span id="Minutes">00</span>:<span id="Seconds">00</span>:<span id="Hundredths">00</span>
		<input type="button" class="btn btn-success" id="start" value="Start &#9658;" onclick="init();">
		<input type="button" class="btn btn-danger" id="stop" value="Stop &#8718;" onclick="stop();">
		<input type="button" class="btn btn-warning" id="continue" value="Continue &#8635;" onclick="reset();">
	</div>

</body>

</html>