{% load staticfiles %}
<div class="jumbotron">

    <h1>Hola, {{ user.get_username }} </h1>
    <h4>Inicio: {% now " H:i" %} 
    </h4>
    <h4>Proyecto:

        {% for journal in journals%}
        
        <small>{{ journal.project.name }}</small>
        {% endfor %}
    </h4>
    
        <small>
                <button onclick="getElementById('totalworked').innerHTML">Tiempo:</button>

         
            <div id="totalworked">{{ total_worked }}</div>
            

            <p id ="totalworked"></p>

            <button onclick="getElementById('time').innerHTML = Date()">Hora actual:</button>

                <p id="time"></p>
        </small>

</div>
<script src="{% static 'js/chronometer.js' %}"></script>