{% load staticfiles %}
<div class="jumbotron">

    <h1>Hola, {{ user.get_username }} </h1>
    <h4>Inicio: {% now " H:i" %} </h4>
    <h4>Proyecto:

        {% for journal in journals%}
        
        <small>{{ journal.project.name }}</small>
        {% endfor %}
    </h4>
    <p class="lead"></p> <div id="timeworked">{{ total_worked_time  }}</div>
    
        <small>

            <button onclick="getElementById('time').innerHTML = Date()">Hora actual:</button>

                <p id="time"></p>
        </small>

</div>
